@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

@keyframes fadeIn {
  from { 
    opacity: 0; 
    transform: translateY(-10px); 
  }
  to { 
    opacity: 1; 
    transform: translateY(0); 
  }
}

.animation-fade-in {
  animation: fadeIn 0.4s ease-out forwards;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #222;
}

::-webkit-scrollbar-thumb:hover {
  background: #550000;
}

.App {
  min-height: 100 screen;
  width: 100%;
}